<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客相关操作</title>
    <link rel="stylesheet" href="/static/css/sweetalert.css">
    <style>
        body {
            font-size: 20px;
            color: #666;
            font-family: "Microsoft YaHei", "微软雅黑", Helvetica, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", Helvetica, Tahoma, "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
            background: #fff;
        }
        section{
            padding:10px 0;
        }
        section >div{
            display:inline-block;
            vertical-align: middle;
        }
        section .content{
            margin-left:10px;
        }
    </style>
</head>
<body>
<section id="create">
    <div class="desc">
        创建功能,点击创建按钮,打开创建页面
    </div>
    <div class="content">
        <a id="create" href="/create" target="_blank"><button>创建</button></a>
    </div>
</section>
<section id="update">
    <div class="desc">
        更新功能,输入博客id,再点击更新
    </div>
    <div class="content">
        <input id="update-input" type="text" placeholder="请输入id">
        <a id="update" href="/update" target="_blank" onclick="appendUpdateIdToLink(event,this)"><button>更新</button></a>
    </div>
</section>
<section id="delete">
    <div class="desc">
        删除功能,输入博客id,再点击删除
    </div>
    <div class="content">
        <input id="delete-input" type="text" placeholder="请输入id">
         <a id="delete" href="/delete" target="_blank" onclick="appendDeleteIdToLink(event,this)"><button>删除</button></a>
    </div>
</section>
<section id="image">
    <div class="desc">
        图片上传功能,点击上传按钮
    </div>
    <div class="content">
        <a id="upload" href="/upload" target="_blank"><button>上传</button></a>
    </div>
</section>
<script src="/static/js/sweetalert.min.js"></script>
<script>
    function appendUpdateIdToLink(e,self){
        var updateInput = document.getElementById('update-input')
        var blogId = updateInput.value
        if(!blogId){
            swal('id不能为空','','error')
            return e.preventDefault()
        } 
        self.setAttribute('href',self.getAttribute('href').split('?id')[0]+'?id='+blogId)
    }
    function appendDeleteIdToLink(e,self){
        var deleteInput = document.getElementById('delete-input') 
        var blogId = deleteInput.value
        if(!blogId){
            swal('id不能为空','','error')
            return e.preventDefault()
        } 

        self.setAttribute('href',self.getAttribute('href').split('?id')[0]+'?id='+blogId)
    }
</script>
</body>
</html>