<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>awayisblue的博客</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/toastr.min.css">
    <link rel="stylesheet" href="/static/css/sweetalert.css">
    <link rel="stylesheet" href="/static/editor.md/css/editormd.css">
    <style>
        .custom{
            width:90%;
            margin: 20px auto;
            display:flex;
            justify-content: space-between;
            align-items: center;
        }

        .title input{
            font-size: 24px;
            box-sizing: border-box;
            padding:4px;
        }
        .operation .button{
            background-color: #5fba7d;
            padding:5px 8px;
            color:white;
            border-radius: 3px;
            cursor:pointer;
        }
    </style>
</head>
<body>
<div id="layout">
    <div class="custom">
        <div class="title" data-slug="<%=slug%>">
            <input id="title" type="text" value=<%=title%> placeholder="请输入标题">
        </div>
        <div class="operation">
            <div class="button save" id="save" data-id=<%=id%>>保存</div>
        </div>
    </div>

    <div id="my-editormd">
        <textarea style="display:none;"><%=markdown%></textarea>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/sweetalert.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script src="/static/editor.md/editormd.min.js"></script>
<script type="text/javascript">
    var editor;
    jQuery(function($) {
        editor = editormd("my-editormd", {
            width   : "90%",
            height  : 700,
            syncScrolling : "single",
            path    : "/static/editor.md/lib/"
        });
        $('#save').on('click',function(){
            var title = $('#title').val(),
                slug = $('.title').attr('data-slug')
            if(title.trim()=="")return swal("无法完成操作","标题不能为空",'error')
            var html = editor.getPreviewedHTML()
            var markdown = editor.getMarkdown()
            var id = $(this).attr('data-id')
            $.post('/save',{id:id,html:html,markdown:markdown,title:title,slug:slug}).done(function(){
                toastr.success('保存成功')
            }).fail(function(){
                toastr.error('保存失败')
            })
        })
    });
</script>

</body>
</html>
