<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>图片上传</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/toastr.min.css">
    <style>
        #layout{
            margin:100px auto 0 auto;
            width:200px;
            height:200px;
            text-align: center;
        }
        #wrapper{
            width:100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border:2px solid grey;
        }
        #wrapper img{
            max-width:100%;
            max-height:100%;
        }
        #upload{
            margin-top:20px;
        }
        #success{
            margin-top:40px;
            width:100%;
            height: 100%;
            display: none;
        }
        #success.active{
            display: block;
        }
        #link{
            color:green;
            padding:10px 0 5px 0;
        }
    </style>
</head>
<body>
<div id="layout">
    <div id="wrapper">
        <img id="preview" src="" alt="点我选择图片">

    </div>
    <input style="display:none;" type="file" id="input">
    <button id="upload">上传</button>
    <div id="success">
        <p id="link"></p>
        <button id="copy">点我复制链接</button>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/toastr.min.js"></script>
<script type="text/javascript">
    jQuery(function($){
        var $input = $('#input'),
            $wrapper = $('#wrapper'),
            $upload = $('#upload'),
            $preview = $('#preview'),
            $copy = $('#copy')
        $wrapper.on('click',function(){
            $input.click()
        })
        $input.on('change',function(){
            readFile(this,function(dataUrl){
                $preview.attr('src',dataUrl)
            })
        })
        $upload.on('click',function(){
            var file = $input.get(0).files[0]
            if(!file)return alert('请选择图片')
            uploadFile(file,'/upload',{},null,function(err,res){
                if(err){
                    console.log(err)
                    return toastr.error('上传失败')
                }
                toastr.success('上传成功')
                $upload.remove()
                $('#success').addClass('active')
                var url = res.path.replace(/\\/g,'/')
                $('#link').text(url)
            })
        })
        $copy.on('click',function(){
            copyToClipboard('#link')
            toastr.success('链接已复制')
        })

        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }
    })

    function uploadFile(file,url,params,progressCb,endCb){

        var data = new FormData();
        data.append('selectedFile',file);
        var keys = Object.keys(params)
        keys.forEach(function(key){
            if(params.hasOwnProperty(key)){
                data.append(key,params[key])
            }
        })
        // console.log(data)
        var request = new XMLHttpRequest();
        request.onreadystatechange = function(){
            if(request.readyState == 4){
                if(request.status==200){
                    var resp = JSON.parse(request.response);
                    endCb&&endCb(null,resp)
                }else{
                    endCb&&endCb(request.response)
                }
            }
        };

        progressCb&&request.upload.addEventListener('progress', progressCb, false);

        request.open('POST', url);
        request.send(data);
    }

    function readFile(input,endCb) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                endCb(e.target.result)
            }

            reader.readAsDataURL(input.files[0]);
        }
    }


</script>

</body>
</html>
